



.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
   
  overflow: hidden; 
}

.video-container {
  position: absolute;
  top: -12%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-foreground {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover; 
}

.video-foreground iframe {
  
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.video-foreground video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
}

.content h1 {
  font-size: 2em;
  margin: 0;
}